<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Scroller Example</strong>
    </div>
    <div class="panel-body">

        <!-- Code between the Start and End will be displayed on the example page -->
        <!-- Start -->
        <script src="/jsx/Scroller.js" ></script>

        <div id="scrollerContainer">
            <!-- scroller will go here -->
        </div>

        <script>

            // This could be any kind of data. You control the presentation.
            // It could also be from anywhere. We could change this to give the
            // control a handler that gets the data after the control is mounted.
            // the data could come from the server. etc...
            var items = [
                {
                  label: "Item 1",
                  image: "http://lorempixel.com/100/100/cats/1"
                },
                {
                  label: "Item 2",
                  image: "http://lorempixel.com/100/100/cats/2"
                },
                {
                  label: "Item 3",
                  image: "http://lorempixel.com/100/100/cats/3"
                },
                {
                  label: "Item 4",
                  image: "http://lorempixel.com/100/100/cats/4"
                },
                {
                  label: "Item 5",
                  image: "http://lorempixel.com/100/100/cats/5"
                },
                {
                  label: "Item 6",
                  image: "http://lorempixel.com/100/100/cats/6"
                },
                {
                  label: "Item 7",
                  image: "http://lorempixel.com/100/100/cats/7"
                },
                {
                  label: "Item 8",
                  image: "http://lorempixel.com/100/100/cats/8"
                },
                {
                  label: "Item 9",
                  image: "http://lorempixel.com/100/100/cats/9"
                },
                {
                  label: "Item 10",
                  image: "http://lorempixel.com/100/100/cats/10"
                },

            ];

            // Enable touch events
            React.initializeTouchEvents(true);

            // Render a react element into the specified element
            React.render(
                React.createElement(Scroller, {
                  id:'0',
                  items: items,
                  maxVisible: 5,
                  wrap: true
                }),
                document.getElementById('scrollerContainer')
            );
        </script>

        <!-- End -->

    </div>
</div>

<%- partial('../partials/sourceFiles', {
  htmlFilePath: "views/scroller/view.ejs",
  htmlStartDelimeter: "<!-- Start -->",
  htmlEndDelimeter: "<!-- End -->",
  jsxFilePath: "assets/jsx/Scroller.jsx"
}) %>
