    <div>
        <div class="well small-well">
        <h1>
          500 Internal Server Error
        </h1>
        <h2>
          Something isn't right here.
        </h2>
              <p class="error">
                  I'm either working on this already, or I haven't found it yet.<br/>
                  If the problem persists, dig into the code and submit a fix.
              </p>

        <% if (typeof data !== 'undefined') { %>

        <% } %>

      </div>
    </div>
