    <div>
      <div>
        <h1>
          500 Internal Server Error
        </h1>
        <h2>
          Something isn't right here.
        </h2>
        <p class="error">
            Our crack team of perverts are working up a sweat trying to fix this issue..<br/>
            If the problem persists, please <a href="mailto://you@your-domain.com">contact the system administrator</a> and inform them of the time that the error occured, and anything you might have done that may have caused the error.
        </p>
        <% if (typeof data !== 'undefined') { %>

        <% } %>

      </div>
    </div>
