<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Ratings Example</strong>
    </div>
    <div class="panel-body">
        <!-- Start -->
        <script src="/jsx/RatingsControl.js" ></script>

        <div>
            <strong>Rateable Thingy</strong>
            <span id="ratingsContainer">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </span>
        </div>

        <script>
            var ratingsControlHandle = React.render(
                    React.createElement(RatingsControl, {id: '1', initialValue: 3}),
                    document.getElementById('ratingsContainer')
            );
        </script>
        <!-- End -->
    </div>
</div>

<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Html</strong>
    </div>
    <div class="panel-body">
        <%
        var contents = fileService.getFileContents("views/ratings/view.ejs");
        contents = fileService.clipTextBetween(contents,"<!-- Start -->", "<!-- End -->");
        %>

        <pre class="prettyprint">

        <%= contents %>
        </pre>
    </div>
</div>

<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>React Source</strong>
    </div>
    <div class="panel-body">

        <%
        var ejxSource = fileService.getFileContents("assets/jsx/RatingsControl.jsx");
        %>

        <pre class="prettyprint">

<%= ejxSource %>
        </pre>
    </div>
</div>