<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Overview</strong>
    </div>
    <div class="panel-body">
        <%
            // Use the pagedown service to convert the README.md markdown file to html
            var converter = new pagedown.Converter();

            var markdown = fileService.getFileContents("README.md");

            var readme = "";
            if (markdown != null) {
                readme = converter.makeHtml(markdown);
            }
        %>

        <!-- the '-' means do not escape the output -->
        <%- readme %>
    </div>
</div>