<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Overview</strong>
    </div>
    <div class="panel-body">
        <%
            var converter = new pagedown.Converter();

            var markdown = readmeService.readReadme();

            var reademe = "";
            if (markdown != null) {
                readme = converter.makeHtml(markdown);
            }
          %>

        <%- readme %>
    </div>
</div>