.ratings-control {
  background-color: transparent;
  font-size: large;
}

.ratings-control.user-value {
  color: gold;
  text-shadow: 1px 1px #ff0000;
}

.ratings-control.average-value {
  color: black;
}

.ratings-control-group {
  border:1px solid black;
  max-width: 300px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}
