.ratings-control {
  background-color: transparent;
  font-size: large;

}

.ratings-control.user-value {
  color: blue;
}

.ratings-control.average-value {
  color: grey;
}

.ratings-control-group {
  border:1px solid black;
  max-width: 300px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}