.scroller {
  background-color: transparent;
  margin: 0 auto;
  padding: 5px;
  max-width: 600px;
  display:flex;
  flex-direction: row;
}

.scroller-item {
  color: black;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  flex:1;
}

.scroller-button {
  color: blue;
  width: 20px;
  height: 100px;
  text-align: center;
  flex:1;
}

.scroller-button > i {
  line-height: 100px;
}

.scroller-button.active {

}

.scroller-button.inactive {
  color: red;
}
