.scroller {
  background-color: transparent;
  margin: 0 auto;
  padding: 5px;
  max-width: 600px;
}

.scroller-item {
  color: black;
  font-weight: bold;
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
}

.scroller-button {
  color: blue;
  width: 20px;
  height: 100px;
  display: inline-block;
  border: 1px solid grey;
  text-align: center;
}

