<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Data Visualization</strong>
    </div>
    <div class="panel-body">

        <!-- Code between the Start and End will be displayed on the example page -->
        <!-- Start -->
        <script src="/jsx/DataGraph.js" ></script>

        <!-- This container will be where our Control goes -->
        <div id="graphContainer">
            <!-- Note switching this to <div id="..." /> breaks things -->
            <!-- any content inside of this container will be replaced -->
        </div>

        <script>
            // Render a react element into the specified element
            React.render(
                    React.createElement(DataGraph, {
                        id:'0',
                        dataUrl: '/graph/data?update=true',
                        pollInterval: 3000
                    }),
                    document.getElementById('graphContainer')
            );
        </script>

        <!-- End -->
    </div>
</div>

<%- partial('../partials/sourceFiles', {
  htmlFilePath: "views/graph/view.ejs",
  htmlStartDelimeter: "<!-- Start -->",
  htmlEndDelimeter: "<!-- End -->",
  jsxFilePath: "assets/jsx/DataGraph.jsx"
}) %>
