<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Password Field Example</strong>
    </div>
    <div class="panel-body">

        <form class="well form-signin" role="form" action="/login" method="POST">

            <script src="/jsx/PasswordField.js" ></script>

            <h2 class="form-signin-heading">Sign In <small>Any value works</small></h2>
            <label for="username" class="sr-only">Username</label>
            <input name="user[username]" id="username" type="text" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>

            <div id="passwordFieldContainer">
            </div>

            <div>&nbsp;</div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <script>
                var passwordFieldHandle = React.render(
                        React.createElement(PasswordField, {fieldName: 'user[password]'}),
                        document.getElementById('passwordFieldContainer')
                );
            </script>

        </form>
    </div>
</div>

<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Html</strong>
    </div>
    <div class="panel-body">
        <%
            var contents = fileService.getFileContents("views/password/view.ejs");
            contents = fileService.clipTextBetween(contents,"<form", "</form>");
        %>

        <pre class="prettyprint">

        <%= contents %>
        </pre>
    </div>
</div>

<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>React Source</strong>
    </div>
    <div class="panel-body">

    </div>
</div>