<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Password Field Example</strong>
    </div>
    <div class="panel-body">

        <!-- Code between the Start and End will be displayed on the example page -->
        <!-- Start -->
        <script src="/jsx/PasswordField.js" ></script>

        <form class="well form-signin" role="form" action="/login" method="POST">

            <h2 class="form-signin-heading">Sign In <small>Any value works</small></h2>
            <label for="username" class="sr-only">Username</label>
            <input name="user[username]" id="username" type="text" class="form-control" placeholder="Username" required="true" autofocus="true">
            <label for="password" class="sr-only">Password</label>

            <!-- This container will be where our Control goes -->
            <div id="passwordFieldContainer">
                <!-- Note switching this to <div id="..." /> breaks things -->
                <!-- any content inside of this container will be replaced -->
            </div>

            <div>&nbsp;</div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        </form>

        <script>
            // Render a react element into the specified element
            var passwordFieldHandle = React.render(
                    React.createElement(PasswordField, {id:'0', fieldName: 'user[password]'}),
                    document.getElementById('passwordFieldContainer')
            );
        </script>

        <!-- End -->
    </div>
</div>

<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Html Source</strong>
    </div>
    <div class="panel-body">
        <%
            var contents = fileService.getFileContents("views/password/view.ejs");
            contents = fileService.clipTextBetween(contents,"<!-- Start -->", "<!-- End -->");
        %>

        <pre class="prettyprint">

        <%= contents %>
        </pre>
    </div>
</div>

<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>React Source</strong>
    </div>
    <div class="panel-body">

        <%
            var ejxSource = fileService.getFileContents("assets/jsx/PasswordField.jsx");
        %>

        <pre class="prettyprint">

<%= ejxSource %>
        </pre>
    </div>
</div>